/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 991px) {
	/* Top-bar start */
	.top-bar ul a span {
        display: none;
    }
    .top-bar .icon-form img{
        position: relative;
        left: -15px;
    }
    .top-bar ul li i{
    	margin-left: -30px;
    }
    .top-bar .top-bar-right{
    	margin-right: 0px;
    }
  /* Top-bar end */

  /* Header start */
    .header .header-search{
    	width: 22%;
    }
    .logo{
    	text-align: center;
    }
    .header-cart {
        position: relative !important;
        right: auto !important;
        width: 100px;
        margin-left: auto;
        margin-right: 100px;
        margin-top: -35px;
    }
  /* Header end */

  /* Navigation start */
    .menu-toggle-close {
        display: block;
        width: 100%;
        text-align: right;
    }
    .menu-toggle-close .fa {
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 28px;
        color: #ffffff !important;
        background-color: #232323;
        border: solid 1px #ffffff;
        border-radius: 15px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        z-index: 11000;
        border-left: solid 1px #232323;
        background-color: #232323;
    }
    .navigation.closed {
        right: -250px;
    }
    .navigation.opened {
        right: 0;
        overflow-y: scroll;
    }
    .sf-menu {
        margin-right: 0;
        padding: 15px 0 15px 0;
    }
    .sf-menu a {
        color: #ffffff;
    }
    .sf-menu a:hover {
        color: #000000;
    }
    .sf-menu > li {
        float: none;
    }
    .sf-menu > li > a {
        background-color: #232323;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .sf-menu > li > a:hover {
        background-color: #ffffff !important;
        color: #00b16a;
    }
    .sf-menu li.megamenu {
        color: #ffffff;
    }
    .sf-menu li.megamenu ul {
        margin-left: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .sf-menu li.megamenu ul a {
        color: #ffffff !important;
    }
    .sf-menu li.megamenu .row {
        margin: 0 !important;
    }
    .sf-menu li.megamenu > ul li.row {
        color: #d3d3d3 !important;
    }
    .sf-menu li.megamenu .block-title {
        color: #ffffff !important;
        border-color: #ffffff !important;
    }
    .sf-menu li.megamenu div[class*="col-"] + div[class*="col-"] {
        margin-top: 10px !important;
    }
    .sf-menu ul {
        display: block !important;
        opacity: 1 !important;
        position: relative;
    }
    .sf-menu ul a {
        color: #ffffff;
    }
    .sf-menu ul li {
        background-color: transparent;
    }
    .sf-menu li {
        float: none!important;
        display: block!important;
        width: 100%!important;
        margin-bottom: 10px !important;
    }
    .sf-menu ul {
        position: static !important;
        margin-left: 0 !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .sf-arrows .sf-with-ul:after {
        border-color: #ffffff transparent transparent !important;
    }
    .sf-menu li li:hover,
    .sf-menu li li.sfHover,
    .sf-menu li li.sfHover > a,
    .sf-menu li li.active {
        background-color: transparent !important;
    }
    .product-list .media-link {
        text-align: left !important;
        margin-bottom: 10px;
    }
    .product-list .price del {
        color: #d3d3d3 !important;
    }
    .rating span.star.active:before,
    .rating span.star:hover:before,
    .rating span.star:hover ~ span.star:before {
        color: #d3d3d3 !important;
    }

  /* Navigation end */

  /* Page slider start */
    .owl-nav button.owl-prev{
    	display: none;
    }
    .owl-nav button.owl-next{
    	display: none;
    }
    .main-slider .caption-title{
    	font-size: 35px;
    }
    .main-slider .caption-subtitle{
    	font-size: 90px;
    	position: relative;
        top: 2px; 
    }
    .caption-text{
    	position: relative;
        top: 3px; 
    }
    .main-slider .alt .caption-text .btn-theme {
    	margin-top: 95px;
    }
    .main-slider .dark .caption-title {
	    font-size: 16px;
	    line-height: 20px;
	    margin-bottom: 5px;
	    margin-top: 8px;
	}
	.main-slider .dark .caption-subtitle {
	    font-size: 36px;
	    line-height: 30px;
	    z-index: 999;
	}
	.main-slider .dark .caption-content{
		margin-top: 0;
	}
  /* Page slider end */

  /* Page-2 start */
    .tabs li + li:before {
        background-color: transparent;
    }
    .tab-content{
    	padding: 0;
	    display: block;
	    position: relative;
	    text-align: center;
	    margin-right: 0px;
        margin-top: 65px;
        margin-bottom: 0px;
    }
    .my-tab-btn{
    	margin-bottom: 30px;
    }
    
  /* Page-2 end */

  /* top-rated products start */
	.top-products .my-top-products{
		padding: 0;
	    display: block;
	    position: relative;
	    text-align: center;
	    overflow: hidden;
	}
	.img-holder img{
		margin-left: 30px;
	}
	.top-products .owl-nav button.owl-next{
		display: block;
	}
	.top-products .owl-nav button.owl-prev{
		display: block;
	}
  /* top-rated products end */
  
  /* Recent-post start */  
    .btn-title-more{
    	margin-right: 0px;
    }
  /* Recent-post end */

  /* our-client start */
    .highly-product{
    	margin-bottom: 90px;	
    }
  /* our-client end */

  /* Last-page start */
    .last-page{
		margin-bottom: 0px;
	}
    .shop-info-banners .block{
    	margin-bottom: 30px;
    }
  /* Last-page end */

  /* footer start */
    .widget-title{
    	font-size: 15px;
    }
    .my-footer{
    	margin-bottom: 50px;
    }
    .footer-meta .payments{
    	text-align: right;
    	padding-top: 10px;
    }
    .footer-meta .payments ul li{
    	margin-left: 0px;
    }
  /* footer end */
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
     /* Top-bar start */
	.top-bar ul a span {
        display: none;
    }
    .top-bar .icon-form img{
        position: relative;
        left: -15px;
    }
    .top-bar ul li i{
    	margin-left: -30px;
    }
    .top-bar .top-bar-right{
    	margin-right: 0px;
    }
  /* Top-bar end */

  /* Header start */
    .header .header-search{
    	width: 100px;
    }
    .logo{
    	text-align: center;
    }
    .header-cart {
        position: relative !important;
        right: auto !important;
        width: 100px;
        margin-left: auto;
        margin-right: 0px;
        margin-top: -35px;
    }
  /* Header end */

  /* Navigation start */
    .menu-toggle-close {
        display: block;
        width: 100%;
        text-align: right;
    }
    .menu-toggle-close .fa {
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 28px;
        color: #ffffff !important;
        background-color: #232323;
        border: solid 1px #ffffff;
        border-radius: 15px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        z-index: 11000;
        border-left: solid 1px #232323;
        background-color: #232323;
    }
    .navigation.closed {
        right: -250px;
    }
    .navigation.opened {
        right: 0;
        overflow-y: scroll;
    }
    .sf-menu {
        margin-right: 0;
        padding: 15px 0 15px 0;
    }
    .sf-menu a {
        color: #ffffff;
    }
    .sf-menu a:hover {
        color: #000000;
    }
    .sf-menu > li {
        float: none;
    }
    .sf-menu > li > a {
        background-color: #232323;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .sf-menu > li > a:hover {
        background-color: #ffffff !important;
        color: #00b16a;
    }
    .sf-menu li.megamenu {
        color: #ffffff;
    }
    .sf-menu li.megamenu ul {
        margin-left: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .sf-menu li.megamenu ul a {
        color: #ffffff !important;
    }
    .sf-menu li.megamenu .row {
        margin: 0 !important;
    }
    .sf-menu li.megamenu > ul li.row {
        color: #d3d3d3 !important;
    }
    .sf-menu li.megamenu .block-title {
        color: #ffffff !important;
        border-color: #ffffff !important;
    }
    .sf-menu li.megamenu div[class*="col-"] + div[class*="col-"] {
        margin-top: 10px !important;
    }
    .sf-menu ul {
        display: block !important;
        opacity: 1 !important;
        position: relative;
    }
    .sf-menu ul a {
        color: #ffffff;
    }
    .sf-menu ul li {
        background-color: transparent;
    }
    .sf-menu li {
        float: none!important;
        display: block!important;
        width: 100%!important;
        margin-bottom: 10px !important;
    }
    .sf-menu ul {
        position: static !important;
        margin-left: 0 !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .sf-arrows .sf-with-ul:after {
        border-color: #ffffff transparent transparent !important;
    }
    .sf-menu li li:hover,
    .sf-menu li li.sfHover,
    .sf-menu li li.sfHover > a,
    .sf-menu li li.active {
        background-color: transparent !important;
    }
    .product-list .media-link {
        text-align: left !important;
        margin-bottom: 10px;
    }
    .product-list .price del {
        color: #d3d3d3 !important;
    }
    .rating span.star.active:before,
    .rating span.star:hover:before,
    .rating span.star:hover ~ span.star:before {
        color: #d3d3d3 !important;
    }

  /* Navigation end */

  /* Page slider start */
    .owl-nav button.owl-prev{
    	display: none;
    }
    .owl-nav button.owl-next{
    	display: none;
    }
    .main-slider .caption-title{
    	font-size: 20px;
    }
    .main-slider .caption-subtitle{
    	font-size: 50px;
    	position: relative;
        top: 2px; 
    }
    .caption-text{
    	position: relative;
        top: 3px; 
    }
    .main-slider .alt .caption-text .btn-theme {
    	margin-top: 95px;
    }
    .main-slider .dark .caption-title {
	    font-size: 16px;
	    line-height: 20px;
	    margin-bottom: 5px;
	    margin-top: 8px;
	}
	.main-slider .dark .caption-subtitle {
	    font-size: 36px;
	    line-height: 30px;
	    z-index: 999;
	}
	.main-slider .dark .caption-content{
		margin-top: 0;
	}
  /* Page slider end */

  /* Page-2 start */
    .tabs li + li:before {
        background-color: transparent;
    }
    .tab-content{
    	padding: 0;
	    display: block;
	    position: relative;
	    text-align: center;
	    margin-right: 0px;
        margin-top: 65px;
        margin-bottom: 30px;
    }
    .my-tab-btn{
    	margin-bottom: 30px;
    }
  /* Page-2 end */

  /* top-rated products start */
	.top-products .my-top-products{
		padding: 0;
	    display: block;
	    position: relative;
	    text-align: center;
	    overflow: hidden;
	}
	.img-holder img{
		margin-left: 80px;
	}
	.top-products .owl-nav button.owl-next{
		display: none;
	}
	.top-products .owl-nav button.owl-prev{
		display: none;
	}
  /* top-rated products end */
  
  /* Recent-post start */  
    .btn-title-more{
    	margin-right: 0px;
    }
  /* Recent-post end */

  /* our-client start */
    .highly-product{
    	margin-bottom: 90px;	
    }
  /* our-client end */

  /* Last-page start */
    .last-page{
		margin-bottom: 0px;
	}
    .shop-info-banners .block{
    	margin-bottom: 30px;
    }
  /* Last-page end */

  /* footer start */
    .widget-title{
    	font-size: 15px;
    }
    .my-footer{
    	margin-bottom: 50px;
    }
    .footer-meta .payments{
    	text-align: left;
    	padding-top: 10px;
    }
    .footer-meta .payments ul li{
    	margin-left: 0px;
    }
  /* footer end */
}
	
/* small devices (phones, 600px and down) */
@media (max-width: 600px) {
	/* Page slider start */
    .owl-nav button.owl-prev{
    	display: none;
    }
    .owl-nav button.owl-next{
    	display: none;
    }
    .owl-dots{
    	display: none;
    }
    .main-slider .caption-title{
    	font-size: 18px;
    	float: left;
    }
    .main-slider .caption-subtitle{
    	font-size: 30px;
    	position: relative;
        top: 2px;
        margin-right: 400px;
        margin-top: 0px;
        float: left; 
    }
    .caption-text{
    	position: relative;
        top: 3px;
        margin-right: 400px; 
    }
    .main-slider .alt .caption-text .btn-theme {
    	margin-top: 95px;
    }
    .main-slider .dark .caption-title {
	    font-size: 16px;
	    line-height: 20px;
	    margin-bottom: 5px;
	    margin-top: 8px;
	}
	.main-slider .dark .caption-subtitle {
	    font-size: 36px;
	    line-height: 30px;
	    z-index: 999;
	}
	.main-slider .dark .caption-content{
		margin-top: 0;
	}
  /* Page slider end */

  /* Page-2 start */
    .tabs li + li:before {
        background-color: transparent;
    }
    .tabs li {
    	display: block;
    }
    .tabs ul {
	    padding-bottom: 15px;
	    border-bottom: solid 1px #a5abb7;
	}
    .tab-content{
    	padding: 0;
	    display: block;
	    position: relative;
	    text-align: center;
	    margin-right: 0px;
        margin-top: 65px;
        margin-bottom: 30px;
    }
    .my-tab-btn{
    	margin-bottom: 30px;
    }
  /* Page-2 end */

  /* top-rated products start */
    .img-holder img{
		margin-left: 50px;
	}
  /* top-rated products end */
}

/* Extra small devices (phones, 468px and down) */
@media (max-width: 480px) {
   /* Header start */
    .header .header-search{
    	position: relative !important;
    	left: 0 !important;
    	float: none;
    	width: 100% !important;
    	margin-bottom: 20px;
    	margin-top: 30px;
    }
    .logo{
    	text-align: center;
    }
    .header-cart {
        position: relative !important;
        right: auto !important;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
  /* Header end */

  /* Page slider start */
    .owl-nav button.owl-prev{
    	display: none;
    }
    .owl-nav button.owl-next{
    	display: none;
    }
    .main-slider .caption-title{
        display: none;
    }
    .main-slider .caption-subtitle{
    	display: none;
    }
    .caption-text{
    	display: none; 
    }
    .main-slider .alt .caption-title {
	    display: none;
	}
	.main-slider .alt .caption-subtitle {
	    display: none;
	}
    .main-slider .dark .caption-title {
	    display: none;
	}
	.main-slider .dark .caption-subtitle {
	    display: none;
	}
	.main-slider .dark .caption-content{
		display: none;
	}
  /* Page slider end */

  /* top-rated products start */
    .img-holder img{
		margin-left: 130px;
	}
  /* top-rated products end */

    .recent-post .pull-left{
    	float: none !important;
        margin-right: 0 !important;
        margin-bottom: 10px;
    }
    .recent-post .pull-left img{
    	width: 100%;
    	max-width: 100%;
    }
    .recent-post .media-body{
    	float: left;
    	position: relative;
	    left: 0;
	    top: 15px;
    }
    .media-meta{
    	margin-top: 30px;
    	margin-bottom: 50px;
    }
    .fixed{
		display: none;
	}
}












